@import url('https://fonts.cdnfonts.com/css/baloo-da');

.section-heading {
    text-align:center;
    color:#9b8d9a;
    text-decoration: underline;
    margin-top: 10px;
    font-family: 'Baloo Da';
    margin-bottom: 30px;
    font-size: 48px;
  }

  .center {
    float: center;
    text-align: center;
    justify-content: center;
  }
/* Tiles */
  .column-4 {
    float: left;
    width: 21%;
    padding: 10px;
    margin:20px;
    margin-bottom: 50px;
    height: 250px;
  }


/* Tile Content */
  .project-1 { /* ctr 1 */
    background: url('../images/ctr1.png');
    background-size: cover;
    border-radius: 5%;
  }
  
  .project-2 { /* ctr 2 */
    background: url('../images/ctrtt.png');
    background-size: cover;
    border-radius: 5%;
    }
  
  .project-3 { /* dino game */
    background: url('../images/dino.jpg');
    background-size: cover;
    border-radius: 5%;
    }
  
  .project-4 { /* slope game */
    background: url('../images/slope-game.jpg');
    background-size: cover;
    border-radius: 5%;
    }
  
  .project-5 { /* cookie game */
    background: url('../images/cookie.png');
    background-size: cover;
    border-radius: 5%;
    }
  
  .project-6 { /* deal or no deal game */
    background: url('../images/dealorno.jpg');
    background-size: cover;
    border-radius: 5%;
    }
  
  .project-7 {
    background: url('../images/duckl.png');
    background-size: cover;
    border-radius: 5%;
    }
  
  .project-8 {
    background: url('../images/minec.png');
    background-size: cover;
    border-radius: 5%;
    }

.project-9 {
      background: url('../images/Idle-Dice.jpg');
      background-size: cover;
      border-radius: 5%;
      }
.project-10 {
      background: url('../images/impossq.png');
      background-size: cover;
      border-radius: 5%;
      }
.project-11 {
      background: url('../images/superhot.jpg');
      background-size: cover;
      border-radius: 5%;
}
.project-12 {
  background: url('../images/flappy20.png');
  background-size: cover;
  border-radius: 5%;
}
.project-13 {
  background: url('../images/msfs1jpg.jpg');
  background-size: cover;
  border-radius: 5%;
}
.project-14 {
  background: url('../images/wordle.png');
  background-size: cover;
  border-radius: 5%;
}
.project-15 {
  background: url('../g_mes/paperclips/paperclips/Universal_Paperclips_files/mobile-title.png');
  background-size: cover;
  border-radius: 5%;
}
.project-16 {
  background: url('../images/lilalch2.svg');
  background-size: cover;
  border-radius: 5%;
}
  

  /* Blur-zoom Container */
.img-hover-zoom--blur {
    transition: transform 0.1s, filter 0.1s ease-in-out;
    filter: blur(0.5px);
    transform: scale(1.01);
  }
  
  /* The Transformation */
  .img-hover-zoom--blur:hover {
    filter: blur(0);
    transform: scale(1);
  }

  .star {
    align-items: center;
    width: 20px;
  }

  .project-text-1 {
    font-size:20px;
    color: #fff6d6;
    text-align: center !important;
    margin-top: 200px !important;
    background: rgb(0, 0, 0) !important; /* Fallback color */
  background: rgba(0, 0, 0, 0.5) !important; /* Black background with 0.5 opacity */
  width: 100% !important; /* Full width */
  padding: 20px !important; /* Some padding */
  border-radius: 3%;
  }


  .filter {
    float: right;
    margin-right: 5px;
  }


  .projects-1 {
    background: url('../images/Ruffle_Logo.webp');
    background-color:#F9F7F7;
    border-radius: 5%;
    background-position: center;
    background-size: contain;
  }

  .projects-2 {
    background: url('../images/GameBoyAdvance_Logo.png');
    background-color: #f9f7f7;
    border-radius: 5%;
    background-position: center;
    background-size: contain;
  } 

.filterbar {
  display: inline-block;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
